@import '../../../assets/styles/mixins';

.content-container {
  @include content-container-layout;

  .container .title {
    background: #fc99cc;
  }
}

.name {
  color: #f943a1;
}

.hair {
  font-size: 14px;
}
