<div class="content-container">
  <div class="list-container">
    <div class="container">
      <div class="title">
        <p>Princesses</p>
      </div>
      <div class="content">
        <ul class="list">
          <li
            *ngFor="let princess of princesses"
            class="item-container"
            [class.selected]="princess === selectedPrincess"
            (click)="selectPrincess(princess)"
          >
            <div class="badge">{{ princess.id }}</div>
            <div class="item-text">
              <div class="name">{{ princess.name }}</div>
              <div class="hair">{{ princess.hair }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!--   <div class="detail-container">
    <app-princess-detail *ngIf="selectedPrincess" [princess]="selectedPrincess"></app-princess-detail>
  </div> -->
</div>
