<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <img width="300" alt="Heroes tour" src="assets/images/heroes.jpg" />
</div>
<!-- 3. Uncomment links -->
<!-- <div class="nav">
  <a [routerLink]="['/heroes']" routerLinkActive="router-link-active">
    <span>Heroes</span>
  </a>
  <a [routerLink]="['/princesses']" routerLinkActive="router-link-active">
    <span>Princesses</span>
  </a>
</div> -->

<!-- 2. Uncomment router outlet -->
<!-- <router-outlet></router-outlet> -->

<!-- 1. Remove components -->
<app-heroes></app-heroes>
<app-princesses></app-princesses>
